<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_chefDepartement">
<head>
    <meta charset="UTF-8">
    <title>page de formation</title>
</head>
<body>
<div layout:fragment="custom-content" >

    <br/>
    <h3 style="text-align: center">La liste  des formations et les classes</h3>

    <ul class="nav nav-tabs text-center">
        <li><a data-toggle="tab" href="#tab_l1">l2i--licence1</a></li>
        <li><a data-toggle="tab" href="#tab_l2">l2i--licence2</a></li>
        <li><a data-toggle="tab" href="#tab_l3">l2i--licence3</a></li>
    </ul>












</div>

</body>
</html>