<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_chefDepartement">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">

    <div class="container">
        <h3 style="text-align: center;color: #033609;background-color: rgba(241,174,63,0.2)">La liste des classe de la formation : <span th:text="${nomFormation}"></span></h3>

        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <div style="text-align: center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form_Ajouter_Classe" >Ajouter Classe</button>
            </div>
        </div>

        <div data-dismiss="modal" style="margin-top:25px">
            <div class="modal fade" id="form_Ajouter_Classe">
                <div class="modal-dialog" >
                    <div class="modal-content panel-success" >
                        <!--modal Header-->
                        <div class="modal-header panel-heading" >
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title" style="text-align: center">Ajouter une Classe</h4>
                        </div>
                        <!--modal Body-->
                        <form th:action="@{/ChefDepartement/AjouterClasse/{id}(id=${formation.id})}" method="post">
                            <div class="modal-body" >
                                <div class="form-group">
                                    <label >Nom</label>
                                    <input type="text" class="form-control" name="nomClasse" />
                                </div>
                                <div class="form-group">
                                    <label >Niveau</label>
                                    <input type="text" class="form-control" name="niveau" />
                                </div>

                            </div>
                            <!--modal Footer-->
                            <div class="modal-footer" >
                                <div class="row">
                                    <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                        <button type="submit" class="btn btn-success">Ajouter</button>
                                    </div>
                                    <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                        <button type="submit" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table  class="table table-bordered table-striped" id="table_Classe">
                <thead>
                <tr>
                    <th>NOM</th>
                    <th>Niveau de La Classe</th>
                    <th style="text-align:center" colspan="3">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cl:${listeClasse}">
                    <td th:text="${cl.nomClasse}"></td>
                    <td th:text="${cl.niveau}"></td>
                    <td>
                        <button class="btn btn-info btn-sm" data-title="Edit" data-toggle="modal" th:attr="data-target='#form_Modifier_Classe'+${cl.id}">
                            Modifier
                        </button>
                        <button th:if="${cl.isArchive() == false}" class="btn btn-warning btn-xs" data-toggle="modal" th:attr="data-target='#form_Archiver_Classe'+${cl.id}">
                            Archiver
                        </button>
                        <button th:if="${cl.isArchive() == true}" class="btn btn-primary btn-xs" data-toggle="modal" th:attr="data-target='#form_Archiver_Classe'+${cl.id}">
                            Desarchiver
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" th:href="@{/ChefDepartement/Maquette{id}(id=${cl.id})}">
                            voir details
                        </a>
                    </td>

                    <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Modifier_Classe'+${cl.id}" >
                            <div class="modal-dialog" >
                                <div class="modal-content panel-info" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Modifier La Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/ModifierClasse/{id}(id=${formation.id})}" method="post">
                                        <div class="modal-body" >
                                            <div style="display: none">
                                                <input name="id" th:value="${cl.id}" />
                                            </div>

                                            <div class="form-group">
                                                <label >Nom Formation</label>
                                                <input type="text" class="form-control" name="nomClasse" th:value="${cl.nomClasse}"/>
                                            </div>


                                            <div class="form-group">
                                                <label >Niveau</label>
                                                <input type="text" class="form-control" name="niveau" th:value="${cl.niveau}"/>
                                            </div>

                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-info" >Modifier</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                    archiver ou desarchiver une formation
                    -->
                    <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Archiver_Classe'+${cl.id}">
                            <div class="modal-dialog" >

                                <div th:if="${cl.isArchive()} == false" class="modal-content panel-warning" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Archiver Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/ArchifClasse/{id}/{clId}(id=${formation.id}, clId=${cl.id})}" method="post">
                                        <div class="modal-body" >


                                            <div class="form-group">
                                                <label >Nom de la classe</label> :
                                                <span th:text="${cl.nomClasse}"/> </span>
                                            </div>
                                            <div class="form-group">
                                                <label >niveau de la classe</label> :
                                                <span th:text="${cl.niveau}"/> </span>
                                            </div>

                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-warning">Archiver</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div th:if="${cl.isArchive()} == true" class="modal-content panel-primary" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Desarchiver Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/ArchifClasse/{id}/{clId}(id=${formation.id}, clId=${cl.id})}" method="post">
                                        <div class="modal-body" >
                                            <div class="form-group">
                                                <label >Nom de la classe</label> :
                                                <span th:text="${cl.nomClasse}"/> </span>
                                            </div>
                                            <div class="form-group">
                                                <label >niveau de la classe</label> :
                                                <span th:text="${cl.niveau}"/> </span>
                                            </div>
                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-primary">desarchiver</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--
                   fin  archiver ou desarchiver une formation
                   -->






                </tr>
                </tbody>

            </table>

        </div>

        <script>
            $(document).ready(function() {
                $("#table_Classe").DataTable({

                });
            })
        </script>

    </div>

</div>

</body>
</html>