<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>page Responsable</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>

    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>

</head>
<body>


</body>
</html>