<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>page chefDepartement</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>

    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse" style="background-color: #083347">
        <div class="container-fluid" style="background-color: #083347" >
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a th:href="@{/ChefDepartement/Accueil}"><span>Accueil</span></a>
                    </li>
                    <li>
                        <a><span>Emploi du Temps</span></a>
                    </li>

                    <li>
                        <a th:href="@{/ChefDepartement/EnseignementLister}" ><span>Enseignements</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span> Syllabus</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color: #353333">
                            <li>
                                <a th:href="@{/ChefDepartement/UE}" style="color: #14d123"><span>UE</span></a>
                            </li>
                            <li>
                                <a th:href="@{/ChefDepartement/ECTout}" style="color: #14d123"><span>EC</span></a>
                            </li>
                            <li><a style="color: #14d123"><span></span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>

                      <a><span>Syllabus</span></a>
                    </li>-->

                    <li>
                        <a><span>Repartition</span></a>
                    </li>
                    <li>
                        <a th:href="@{/Chefdepartement/Enseignant}"><span>Enseignants</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span> Formations</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color: #353333">
                            <li>
                                <a th:href="@{/ChefDepartement/Formation}" style="color: #14d123"><span>Formation</span></a>
                            </li>
                            <li><a style="color: #14d123"><span></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="${prenom+'. '+nom}"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/ChefDepartement/profile}"><span>Profil</span></a>
                            </li>
                            <li><a th:href="@{/logout}"><span>Deconnexion</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<div layout:fragment="custom-content" >

    <div class="container">


    </div>
    
    
    
    


</div>



</body>
</html>