<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_chefDepartement">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="container">

        <h3 style="text-align: center;color: #033609;background-color: rgba(241,174,63,0.2)">La liste des Choix </h3>

        <div class="table-responsive">
            <table  class="table table-bordered table-striped" id="table_EnseiTab">
                <thead style="background-color: #083347;color: #ffffff">
                <tr>
                    <th>  module </th>
                    <th>  type de Enseignement</th>
                    <th> Enseignant</th>
                    <th style="text-align:center" colspan="2">actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="repart:${repartition}">
                    <td th:text="${repart.enseignement.ec.libelle}"></td>
                    <td th:text="${repart.enseignement.typeService}"></td>
                    <td th:text="${en.typeService}"></td>
                    <td>
                    </td>
                    <td>
                        <form th:action="@{/ChefDepartement/valideChoix}" method="post">
                            <input type="hidden" name="enseignementId" th:value="${en.id}">
                            <input type="hidden" name="enseignantId" th:value="${utilisateur.id}">
                            <button type="submit"
                                    th:class="${choixEfectue[en.id]} ? 'btn btn-danger' : 'btn btn-success'">
                                <span th:text="${choixEfectue[en.id]} ? 'Choix déjà fait' : 'Choisir'"></span>
                            </button>
                        </form>
                    </td>




                    <!--
                    archiver ou desarchiver une formation
                    -->

                    <!--
                   fin  archiver ou desarchiver une formation
                   -->


                </tr>
                </tbody>

            </table>


            <script>
                $(document).ready(function() {
                    $("#table_EnseiTab").DataTable({

                    });
                })
            </script>

        </div>

    </div>

</div>

</body>
</html>